<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <link type="text/css" rel="stylesheet" href="/assets/main.css" />
  {% block css %}
  {% endblock %}

  {% block javascript %}
  {% endblock %}
  <title>{% block title %}{% endblock %}</title>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22706530-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
  <div id="siteHeader">
    {% block site_header %}
        <h1><a href="{% url basic.blog.views.post_list %}">Ragtag</a></h1>
    {% endblock %}
  </div>
  <div id="sidebar">
    {% block sidebar %}
        <div id="sideMenu">
            <ul>
                <li><a href="{% url basic.blog.views.post_list %}">Home</a></li>
                <li><a href="{% url basic.blog.views.category_list %}">Categories</a></li>
            </ul>
        </div>
        <div id="aboutBox">
          The blog of <a href="http://twitter.com/#!/godawful">Gareth Lloyd</a>,
          BBC Software Engineer, Android enthusiast and London cyclist.
        </div>
        <div id="feeds">
          <a href="{% url django.contrib.syndication.views.feed 'posts' %}">Latest posts RSS 2.0</a>
        </div>
    {% endblock %}
  </div>
  <div id="contentContainer">
    <div id="contentColumn">
        {% block body %}
          {% block content_title %}{% endblock %}

          <div class="content">
            {% block content %}{% endblock %}
          </div>
        {% endblock %}
    </div>
  </div>
</body>
</html>
