/* basic layout */
body {
    min-width: 810px;
    font: 1em helvetica, sans-serif;
}
#siteHeader {
    padding: 20px 0 20px 300px;
}
#sidebar {
    width: 250px;
    float: left;
}
#contentContainer {
    margin-left: 300px;
}
#contentColumn {
    width: 500px;
    overflow: visible;
    line-height: 1.6;
}
/* site-wide features */
a {
    text-decoration: none;
    color: #5c0c85;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #9b5fba;
}
#sideMenu ul {
    font-size: 1.4em;
    list-style: none;
    text-align: right;
}
code {
    white-space: pre;
    font-size: 1.3em;
}
pre {
    display: inline;
    padding: 0;
    margin: 0;
}
/* headers */
#siteHeader h1{
    font-size: 4em;
    margin: 0;
}
h3.blogPostTitle {
    margin: .5em 0 0 0;
    font-size: 2em;
}
/* Blog post */
.blogPostDate {
    margin: 0;
    font-size: .8em;
}
.item {
    margin-bottom: 4em;
}
/* Comments */
#commentForm {
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    border: 1px solid;
    border-color: gray;
    border-width: 1px 0 0 0;
}
.commentsTitle {
    font-size: 2em;
    color: #aaa;
    margin-bottom: 0;
}
#commentForm p label {
    display: block;
    float: left;
    text-align: left;
    width: 7em;
}
.comment .name {
    margin: 0;
    font-size: 1.5em;
    color: #bbb;
}
.comment .name a.count {
    color: #999;
}
.comment p {
    margin: 0 0 1em 0;
}
.comment .date {
    font-size: .8em;
}