{% load blog tagging_tags inlines markup i18n %}
  <h3 class="blogPostTitle">
    <a href="{{ object.get_absolute_url }}" title="{% trans "Link to this post" %}">
        {{ object.title }}
    </a>
  </h3>

  <div class="blogPostDate">{{ object.publish|date:"j F Y" }}</div>

  <div class="body">
    {{ object.body|render_inlines|safe }}
  </div>

  {% tags_for_object object as tag_list %}
  {% if tag_list %}
  <p class="inline_tag_list"><strong>{% trans "Related tags" %}:</strong>
    {{ tag_list|join:", " }}
  </p>
  {% endif %}