<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <link type="text/css" rel="stylesheet" href="/assets/main.css" />
  <link href="/assets/syntax/shCoreDefault.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="/assets/syntax/shCore.js"></script>
  <script type="text/javascript" src="/assets/syntax/shBrushJava.js"></script>
  <script type="text/javascript" src="/assets/syntax/shBrushXml.js"></script>

  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("jquery", "1");
    google.setOnLoadCallback(function() {});
  </script>
  <script type="text/javascript">SyntaxHighlighter.all();</script>
  <title>{% block title %}{% endblock %}</title>
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
  <div id="siteHeader">
    {% block site_header %}
        <h1><a href="{% url basic.blog.views.post_list %}">Ragtag</a></h1>
    {% endblock %}
  </div>
  <div id="sidebar">
    {% block sidebar %}
        <div id="sideMenu">
            <ul>
                <li><a href="{% url basic.blog.views.post_list %}">Home</a></li>
                <li><a href="{% url basic.blog.views.category_list %}">Categories</a></li>
            </ul>
        </div>
        <div id="aboutBox">
          The blog of <a href="http://twitter.com/#!/godawful">Gareth Lloyd</a>, 
          BBC Software Engineer, Android enthusiast and London cyclist.
        </div>
    {% endblock %}
  </div>
  <div id="contentContainer">
    <div id="contentColumn">
        {% block body %}
          {% block content_title %}{% endblock %}

          <div class="content">
            {% block content %}{% endblock %}
          </div>
        {% endblock %}
    </div>
  </div>
</body>
</html>
